INFURA_URL=https://sepolia.infura.io/v3/c9ae6ddb26954eebaa307266ce919721
PRIVATE_KEY= 
MONGO_URI= 
CONTRACT_ADDRESS=  
WEB3_PROVIDER=wss://eth-sepolia.g.alchemy.com/v2/DoDTdafpFc8oe9X2_olPj0v7X_exug2t
CO2_SIGNAL_API_KEY=0lmzfubzuyF6

